- if User.current.logged?
  = bootstrap_load_base
  = bootstrap_load_module(:alerts)
  = bootstrap_load_module(:notify)
  = bootstrap_load_module(:font_awesome)

  = javascript_include_tag :danthes,     plugin: 'redmine_danthes'
  = javascript_include_tag :application, plugin: 'redmine_danthes'

  #notifications{ style: 'display: none;', data: { url: my_notifications_path } }= render_user_subscribed_channels
  :javascript
    $(document).ready(function() { setAsyncNotifications(); });
